`ippserver` loops forever with "Print-URI Operation"

## Steps to reproduce

1. Start *`ippserver`* in one terminal:

    ```
    $~>  ippserver -vv  -p 11111 "IPP EverywhereTesting"
    ```

    Scan the output for the URI to use (*`"printer-uri=..."`*). In my case *`ipp://myhost.local:11111/ipp/print`*

1. Go to another terminal and run *`ipptool`* with the URI:

    ```
    $~>  ipptool -d OPTIONAL_PRINT_URI=ftp \
         -d document-uri="http://ftp.pwg.org/pub/pwg/candidates/cs-ippig20-20150821-5100.19.pdf" \
         -f document-a4.pdf \
         -tv ipp://myhost.local:11111/ipp/print \
          ./25-rfc-2911-section-3.2.2-print-uri-operation.test
    ```

1. Notice the output in the second terminal to hang on the last of the following lines:

    ```
        Print-URI:
            attributes-charset (charset) = utf-8
            attributes-natural-language (naturalLanguage) = en
            printer-uri (uri) = ipp://lenjessie2.local:11111/ipp/print
            requesting-user-name (nameWithoutLanguage) = kp
            job-name (nameWithoutLanguage) = document-a4.pdf
            ipp-attribute-fidelity (boolean) = false
            document-name (nameWithoutLanguage) = document-a4.pdf
            compression (keyword) = none
            document-uri (uri) = http://ftp.pwg.org/pub/pwg/candidates/cs-ippig20-20150821-5100.19.pdf
        RFC 2911 section 3.2.2: Print-URI Operation                          [
    ```

1. Go back to terminal 1 and notice how a fast stream of output lines is scrolling by until the ippserver process is killed. The lines represent a rapid succession of the client (*`ipptool`* from terminal 2) closing the connection (seemingly when it receives the *"Print-URI client-error-attributes-or-values-not-supported (Unsupported compression keyword value.)"*-response from the server with an immediate re-connection.

    ```
    [....]
    serverRun: Incoming connection on listener myhost.local.:11111.
    [Client 32827] Accepted connection from "192.168.76.34".
    [Client 32827] POST /ipp/print
    [Client 32827] Continue
    [Client 32827] Request: version=1.1
    [Client 32827] Request: operation-id=Print-URI(0003)
    [Client 32827] Request: request-id=96609
    [Client 32827] Request: operation-attributes-tag
    [Client 32827] Request: attributes-charset (charset) utf-8
    [Client 32827] Request: attributes-natural-language (naturalLanguage) en
    [Client 32827] Request: printer-uri (uri) ipp://myhost.local.11/ipp/print
    [Client 32827] Request: requesting-user-name (nameWithoutLanguage) kp
    [Client 32827] Request: job-name (nameWithoutLanguage) document-a4.pdf
    [Client 32827] Request: ipp-attribute-fidelity (boolean) false
    [Client 32827] Request: document-name (nameWithoutLanguage) document-a4.pdf
    [Client 32827] Request: compression (keyword) none
    [Client 32827] Request: document-uri (uri) http://ftp.pwg.org/pub/pwg/candidates/cs-ippig20-20150821-5100.19.pdf
    [Client 32827] Print-URI client-error-attributes-or-values-not-supported (Unsupported compression keyword value.)
    [Client 32827] Closing connection from "192.168.76.34".
    serverRun: Incoming connection on listener myhost.local.:11111.
    [Client 32828] Accepted connection from "192.168.76.34".
    [Client 32828] Client closed connection.
    [Client 32828] Closing connection from "192.168.76.34".
    serverRun: Incoming connection on listener myhost.local.:11111.
    [Client 32829] Accepted connection from "192.168.76.34".
    [Client 32829] POST /ipp/print
    [Client 32829] Continue
    [Client 32829] Request: version=1.1
    [Client 32829] Request: operation-id=Print-URI(0003)
    [Client 32829] Request: request-id=96609
    [Client 32829] Request: operation-attributes-tag
    [Client 32829] Request: attributes-charset (charset) utf-8
    [Client 32829] Request: attributes-natural-language (naturalLanguage) en
    [Client 32829] Request: printer-uri (uri) ipp://myhost.local.11/ipp/print
    [Client 32829] Request: requesting-user-name (nameWithoutLanguage) kp
    [Client 32829] Request: job-name (nameWithoutLanguage) document-a4.pdf
    [Client 32829] Request: ipp-attribute-fidelity (boolean) false
    [Client 32829] Request: document-name (nameWithoutLanguage) document-a4.pdf
    [Client 32829] Request: compression (keyword) none
    [Client 32829] Request: document-uri (uri) http://ftp.pwg.org/pub/pwg/candidates/cs-ippig20-20150821-5100.19.pdf
    [Client 32829] Print-URI client-error-attributes-or-values-not-supported (Unsupported compression keyword value.)
    [Client 32829] Closing connection from "192.168.76.34".
    serverRun: Incoming connection on listener myhost.local.:11111.
    [Client 32830] Accepted connection from "192.168.76.34".
    [Client 32830] Client closed connection.
    [Client 32830] Closing connection from "192.168.76.34".
    ^C
    ```

1. Start *`ippserver`* one more time to check for supported compression modes:

    ```
    $~>  ippserver -vv  -p 11111 "IPP EverywhereTesting" 2>&1 | grep compression-supported
    [Printer IPP EverywhereTesting] compression-supported (1setOf keyword) deflate,gzip,none
    [Client 1] Response: compression-supported (1setOf keyword) deflate,gzip,none
    ^C
    ```

When measuring the rate of connections for short period, it looks like more than 65.000 per minute will happen.


Need to confirm with my own testing, but we should do something better here for the error case.


Actually, it looks like ipptool is looping for some reason... The request contains the "compression" attribute but shouldn't since that is not valid for the Print-URI operation.


That's a bug in the ipp-1.1.test file...

Anyways, still not sure why ipptool is looping on this. Continuing to investigate.

ipptool is getting a broken pipe (lost connection) before it can read back the response from ippserver.

OK, caused by an errant httpFlush call after the IPP attribute validation.

[master ee254c5] Fix Print-URI handling of invalid job creation attribures (Issue #61)