Bad version 1.0 in response - expected 1.1 (RFC 2911 section 3.1.8).

Hello,

I would like to understand the message returned by ipptool.exe
I trigger the following command from the windows command line

`ipptool.exe -tv ipp://xxx.xxx.xxx.xxx:631/ipp/print "C:\temp\IPP-GPA.test" > C:\temp\ipp-response.txt`

content of IPP-GPA.test is the standard file to get device capabilities
```
{
	NAME "Get printer attributes using Get-Printer-Attributes"

	OPERATION Get-Printer-Attributes

	GROUP operation-attributes-tag
	ATTR charset attributes-charset utf-8
	ATTR language attributes-natural-language en
	ATTR uri printer-uri $uri
	STATUS successful-ok
	DISPLAY printer-state
}

```

The result is below, with an error message at the end.
        **Bad version 1.0 in response - expected 1.1 (RFC 2911 section 3.1.8).**
This result is on an EFI Fiery controller.
The same operation on an HP Controller runs without a failure
Is the problem on the Fiery controller or is the ipptool.exe too strict ?
I have tried the -I switch as well. No change.
I believe there is more data to come from the device but it is truncated because if the error, however I am not sure.

thank you kindly

```
"C:\temp\IPP-GPA.test":
    Get-Printer-Attributes:
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        printer-uri (uri) = ipp://192.168.11.44:631/ipp/print
    Get printer attributes using Get-Printer-Attributes                  [FAIL]
        RECEIVED: 8524 bytes in response
        status-code = successful-ok (successful-ok)
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en-us
        color-supported (boolean) = true
        document-format-supported (1setOf mimeMediaType) = text/plain,application/postscript,application/vnd.hp-PCL,application/octet-stream,application/tiff,application/pdf
        pages-per-minute (integer) = 65
        copies-default (integer) = 1
        copies-supported (rangeOfInteger) = 1-9999
        finishings-default (enum) = none
        finishings-supported (1setOf enum) = none,staple-top-left,staple-bottom-left,staple-top-right,staple-bottom-right,staple-dual-left,staple-dual-top,staple-dual-right,staple-dual-bottom,fold-accordian,fold-double-gate,fold-half,fold-half-z,fold-left-gate,110,111,1003,1004
        finishings-ready (1setOf enum) = none,staple-top-left,staple-bottom-left,staple-top-right,staple-bottom-right,staple-dual-left,staple-dual-top,staple-dual-right,staple-dual-bottom,fold-accordian,fold-double-gate,fold-half,fold-half-z,fold-left-gate,110,111,1003,1004
        force-front-side-supported (rangeOfInteger) = 1-9999999
        page-ranges-supported (boolean) = true
        sides-default (keyword) = one-sided
        sides-supported (1setOf keyword) = one-sided,two-sided-long-edge,two-sided-short-edge
        orientation-requested-default (no-value) = no-value
        orientation-requested-supported (1setOf enum) = portrait,landscape
        printer-resolution-supported (1setOf resolution) = 600dpi,300dpi
        printer-uri-supported (1setOf uri) = http://192.168.11.44/ipp/hold,ipp://192.168.11.44/ipp/hold,http://192.168.11.44/ipp/print,ipp://192.168.11.44/ipp/print,http://192.168.11.44/ipp/direct,ipp://192.168.11.44/ipp/direct
        uri-authentication-supported (keyword) = none
        uri-security-supported (keyword) = none
        printer-name (nameWithoutLanguage) = print
        printer-location (textWithoutLanguage) = 
        printer-info (textWithoutLanguage) = IPP Printer
        printer-more-info (uri) = http://192.168.11.44
        printer-driver-installer (uri) = http://192.168.11.44
        printer-make-and-model (textWithoutLanguage) = DocuColor 242-252-260 PS v2.0
        printer-state (enum) = idle
        printer-state-reasons (keyword) = none
        printer-state-message (textWithoutLanguage) = Printer in Energy Save Mode
        operations-supported (1setOf enum) = Print-Job,Print-URI,Validate-Job,Create-Job,Send-Document,Send-URI,Cancel-Job,Get-Job-Attributes,Get-Jobs,Get-Printer-Attributes,Hold-Job,Release-Job,Restart-Job,Pause-Printer,Resume-Printer
        charset-configured (charset) = us-ascii
        charset-supported (1setOf charset) = utf-8,us-ascii
        natural-language-configured (naturalLanguage) = en-us
        generated-natural-language-supported (naturalLanguage) = en-us
        document-format-default (mimeMediaType) = application/postscript
        printer-is-accepting-jobs (boolean) = true
        queued-job-count (integer) = 0
        multiple-document-jobs-supported (boolean) = true
        pdl-override-supported (keyword) = not-attempted
        ipp-versions-supported (1setOf keyword) = 1.0,1.1
        printer-up-time (integer) = 81484
        printer-current-time (dateTime) = 2018-10-31T11:26:20Z
        multiple-operation-time-out (integer) = 180
        pages-per-minute-color (integer) = 50
        compression-supported (keyword) = none
        adjust-lightness-default (integer) = 0
        adjust-lightness-supported (rangeOfInteger) = -100-100
        anti-aliasing-default (keyword) = none
        anti-aliasing-supported (1setOf keyword) = none,standard
        black-overprint-default (keyword) = black-overprint-on
        black-overprint-supported (1setOf keyword) = black-overprint-off,black-overprint-on
        color-destination-profile-back-default (nameWithoutLanguage) = Fiery DC250 DCX+ Plain (64-105 gsm) v3F
        color-destination-profile-back-supported (1setOf nameWithoutLanguage) = Use Media Defined Profile,Fiery DC250 Coated 1 (105-176 gsm) v3F,Fiery DC250 Coated 2 (177-220 gsm) v2F,Fiery DC250 Coated 3 (221-280 gsm) v2F,Fiery DC250 Heavyweight 1 (105-176 gsm) v2F,Fiery DC250 Heavyweight 2 (177-220 gsm) US v2F,Fiery DC250 Heavyweight 3 (221-300 gsm) v2F,Fiery DC250 DCX+ Plain (64-105 gsm) v3F,Fiery DC250 Transfer Paper v1F
        color-destination-profile-front-default (nameWithoutLanguage) = Fiery DC250 DCX+ Plain (64-105 gsm) v3F
        color-destination-profile-front-supported (1setOf nameWithoutLanguage) = Use Media Defined Profile,Fiery DC250 Coated 1 (105-176 gsm) v3F,Fiery DC250 Coated 2 (177-220 gsm) v2F,Fiery DC250 Coated 3 (221-280 gsm) v2F,Fiery DC250 Heavyweight 1 (105-176 gsm) v2F,Fiery DC250 Heavyweight 2 (177-220 gsm) US v2F,Fiery DC250 Heavyweight 3 (221-300 gsm) v2F,Fiery DC250 DCX+ Plain (64-105 gsm) v3F,Fiery DC250 Transfer Paper v1F
        color-emulation-default (nameWithoutLanguage) = ISO Coated
        color-emulation-supported (1setOf nameWithoutLanguage) = DIC (EFI),Euroscale (EFI),ISO Coated,ISO Uncoated,JMPA ver.2 (EFI),Japan Color 2001 type1 (EFI),SWOP-Coated (EFI),TOYO Offset Coated 2.0,EmbassyPhotoBook_V.03_280.icc,None,ColorWise OFF
        undefined-source-rgb-images-default (nameWithoutLanguage) = Fiery RGB v5
        undefined-source-rgb-images-supported (1setOf nameWithoutLanguage) = Apple Standard,sRGB (PC),Adobe RGB (1998),ECI-RGB,Fiery RGB v5,EFIRGB,None
        halftone-graphics-default (keyword) = 200-dpi
        halftone-graphics-supported (1setOf keyword) = 200-dpi,141-lpi,171-lpi,200-lpi
        halftone-images-default (keyword) = 200-dpi
        halftone-images-supported (1setOf keyword) = 200-dpi,141-lpi,171-lpi,200-lpi
        halftone-text-default (keyword) = 200-dpi
        halftone-text-supported (1setOf keyword) = 200-dpi,141-lpi,171-lpi,200-lpi
        job-message-to-operator-default (no-value) = no-value
        job-message-to-operator-supported (boolean) = true
        finishings-col-supported (no-value) = no-value
        finishings-col-ready (no-value) = no-value
        finishings-col-default (collection) = {}
        job-offset-default (keyword) = none
        job-offset-supported (1setOf keyword) = none,offset-set
        media-color-supported (keyword) = white
        media-type-supported (1setOf nameWithoutLanguage) = stationery,full-cut-tabs,pre-cut-tabs,labels,transparency,custom 1,custom 2,custom 3,custom 4,custom 5,1,2,3,4,5
        media-pre-printed-supported (1setOf keyword) = pre-printed,blank
        media-recycled-supported (1setOf keyword) = standard,none
        media-hole-count-supported (rangeOfInteger) = 0-10
        media-order-count-supported (rangeOfInteger) = 1-15
        media-size-supported (collection) = {x-dimension=10000-33000 y-dimension=14800-48800}
        media-weight-metric-supported (rangeOfInteger) = 64-300
        media-front-coating-supported (1setOf keyword) = none,glossy,coated
        media-back-coating-supported (1setOf keyword) = none,glossy,coated
        media-col-supported (1setOf keyword) = media-color,media-type,media-pre-printed,media-hole-count,media-order-count,media-size,media-weight-metric,media-front-coating,media-back-coating
        media-col-default (collection) = {media-color=white media-type=no-value media-pre-printed=no-value media-recycled=no-value media-hole-count=0 media-order-count=0 media-size={x-dimension=21590 y-dimension=27940} media-weight-metric=80 media-front-coating=none media-back-coating=none}
        output-bin-default (keyword) = automatic
        output-bin-supported (1setOf keyword) = automatic,top,stacker
        spot-color-mapping-default (keyword) = use-local-printer-values
        spot-color-mapping-supported (1setOf keyword) = use-local-printer-values,use-pdl-values
        page-delivery-default (keyword) = same-order-face-down
        page-delivery-supported (1setOf keyword) = same-order-face-up,same-order-face-down
        page-overrides-supported (1setOf keyword) = media-col,sides,input-documents,pages
        input-documents-supported (rangeOfInteger) = 1-9999
        pages-supported (rangeOfInteger) = 1-9999
        cover-back-supported (1setOf keyword) = media-col,cover-type
        cover-front-supported (1setOf keyword) = media-col,cover-type
        cover-type-supported (1setOf keyword) = print-none,print-front,print-back,print-both
        insert-sheet-supported (1setOf keyword) = media-col,insert-after-page-number,insert-count
        insert-after-page-number-supported (rangeOfInteger) = 0-9999
        insert-count-supported (rangeOfInteger) = 0-9999
        separator-sheets-supported (1setOf keyword) = separator-sheets-type,media-col
        separator-sheets-type-supported (1setOf keyword) = none,slip-sheets
        interleaved-sheets-col-supported (keyword) = interleaved-sheets-col
        interleaved-sheets-col-default (collection) = {media-col={media-color=no-value media-type=no-value media-pre-printed=no-value media-recycled=no-value media-hole-count=0 media-order-count=0 media-size={x-dimension=0 y-dimension=0} media-weight-metric=0 media-front-coating=no-value media-back-coating=no-value} interleaved-sheets-type=none}
        interleaved-sheets-type-supported (1setOf keyword) = none,blank-before
        forms-col-supported (1setOf keyword) = none,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,form-name
        forms-col-default (collection) = {form-name=none}
        job-save-disposition-supported (keyword) = save-disposition
        job-save-disposition-default (collection) = {save-disposition=none}
        save-disposition-supported (1setOf keyword) = none,save-only,print-save
        sheet-collate-default (keyword) = collated
        sheet-collate-supported (1setOf keyword) = collated,uncollated
        trapping-default (no-value) = no-value
        trapping-supported (1setOf keyword) = all,off
        color-effects-type-default (keyword) = color
        color-effects-type-supported (1setOf keyword) = monochrome-grayscale,color
        x-side1-image-shift-default (integer) = 0
        x-side2-image-shift-default (integer) = 0
        y-side1-image-shift-default (integer) = 0
        y-side2-image-shift-default (integer) = 0
        x-side1-image-shift-supported (rangeOfInteger) = -35277-35277
        x-side2-image-shift-supported (rangeOfInteger) = -35277-35277
        y-side1-image-shift-supported (rangeOfInteger) = -35277-35277
        y-side2-image-shift-supported (rangeOfInteger) = -35277-35277
        page-rotation-default (keyword) = rotate-0
        page-rotation-supported (1setOf keyword) = rotate-0,rotate-180
        job-sheet-message-supported (boolean) = true
        rendering-intent-images-supported (1setOf keyword) = saturation,perceptual,relative-colorimetric,absolute-colorimetric,automatic
        Bad version 1.0 in response - expected 1.1 (RFC 2911 section 3.1.8).

```



This is expected behavior. If you read the man page for ipptool (
http://istopwg.github.io/ippsample/ipptool.html) it says that, unless otherwise specified by using the -V option to specify the version or by specifying the VERSION directive in the .test file, the version sent will be 1.1. If that old EFI RIP doesn't support version 1.1 then that is why you are getting this warning / error. (Version 1.0 is REALLY OLD...guessing the RIP is really old too?)

Actually this printer claims to support IPP 1.1 but doesn't support the "ipp" URI scheme and obviously doesn't conform to IPP very well. It also supports PWG 5100.4 (yes, the page overrides spec that was obsoleted over 15 years ago...) and partially supports 5100.11 (although not in a conforming way...)


Indeed, adding the switch -V 1.0 does resolve the error message. 

It is somewhat unfortunate that your Team an the Workgroup has spend so much effort in writing the specs so detailed and accurate, but yet implementation on the actual devices still leaves a lot to wish for. Would companies like EFI care if I asked for a Firmware update? I doubt it.
When I read the general capabilities and design goals of IPP and driverless printing a few years ago, I was almost convinced that this is the "golden" way forward for fully generic print submission. But the more I use different controllers I come across issues. JDF claims to address some issues and has acceptance in the commercial print world, but I find the semantics and design logic of IPP far more human-friendly and understandable. I will test the page override spec tomorrow. Thank you for your hard work and help to resolve this. 

Historically the PWG focused mostly on specifications, not on certification programs. But we have had the IPP Everywhere Self Certification for some time now, and we are working on an update to IPP Everywhere™ v1.1 / IPP Everywhere Self Certification v1.1. This certification program is free to PWG members. We believe that printers that are certified under this program are much less likely to exhibit interoperability problems.