`ippserver` does not pass IPP-1.1 test

Continuing to test ippserver functionality on a Raspberry Pi 3 (running openSUSE vLeap 42.3). Compiled on the Raspi itself from current sources (latest commit was Oct 12, cc48390).

Starting the most simple printer emulator command on the Rasp viai:

     ./server/ippserver -vvvv  "Test Test"

and then running *`ipptool`* from a different host:

     ./tools/ipptool -V 1.1 -t  http://leapraspi.local.:8000/ipp/print  examples/ipp-1.1.test

results in this output:

````
"examples/ipp-1.1.test":
   RFC 2911 section 3.1.1: Bad request-id value 0                       [PASS]
   RFC 2911 section 3.1.4: No Operation Attributes                      [PASS]
   RFC 2911 section 3.1.4: attributes-charset                           [PASS]
   RFC 2911 section 3.1.4: attributes-natural-language                  [PASS]
   RFC 2911 section 3.1.4: attributes-natural-language + attributes-cha [PASS]
   RFC 2911 section 3.1.4: attributes-charset + attributes-natural-lang [PASS]
   RFC 2911 section 3.1.8: Unsupported IPP version 0.0                  [PASS]
   RFC 2911 section 3.2: No printer-uri operation attribute             [PASS]
   RFC 2911 section 3.2.1: Print-Job Operation                          [FAIL]
       RECEIVED: 160 bytes in response
       status-code = client-error-attributes-or-values-not-supported (Unsupported document-format mimeMediaType value.)
       "document-format": Bad mimeMediaType value "" - bad characters (RFC 2911 section 4.1.9).
       EXPECTED: STATUS successful-ok (got client-error-attributes-or-values-not-supported)
       EXPECTED: STATUS client-error-document-format-not-supported (got 
       client-error-attributes-or-values-not-supported)
       EXPECTED: STATUS server-error-job-canceled (got client-error-attributes-or-values-not-supported)
       status-message="Unsupported document-format mimeMediaType value."
       EXPECTED: job-uri
       EXPECTED: job-id
       EXPECTED: job-state
       EXPECTED: job-state-reasons

Summary: 9 tests, 8 passed, 1 failed, 0 skipped
Score: 88%
````

The *`ipp-1.1.text`* file I used is from Git sources here, commit 442312b72218d73f84ab02fee351b1dad8df0ad1 (2017, March 28th).

You forgot to specify a print file to use for testing. From the usage at the top of the ipp-1.1.test file:

```
# Usage:
#
#   ./ipptool -f filename [-d document-uri=SOMEURI] -t printer-uri ipp-1.1.test
#   ./ipptool -f filename -d NOPRINT=1 -t printer-uri ipp-1.1.test
#
# The latter form disables all but the basic file printing.
```


> *"You forgot to specify a print file to use for testing."*

D'ooooh!

\**(Blushing)*\*