New ipp-1.1 tests: resolve issues...

We have an updated IPP/1.1 test file from one of the GSoC 2018 students:

[ipp-1.1.V2.test.txt](https://github.com/istopwg/ippsample/files/2206983/ipp-1.1.V2.test.txt)

Right now I'm seeing some errors when run against ippserver, but we need to resolve whether the issue is in the test file or ippserver:

```
../tools/ipptool -Itf ../examples/document-letter.pdf -d document-uri=https://ftp.pwg.org/pub/pwg/ipp/examples/originals/document-letter.pdf ipp://localhost:8501/ipp/print ~/Desktop/ipp-1.1.V2.test 
"/Users/msweet/Desktop/ipp-1.1.V2.test":
    RFC 8011 section 4.1.1: Bad request-id value 0                       [PASS]
    RFC 8011 section 4.1.4: No Operation Attributes                      [PASS]
    RFC 8011 section 4.1.4: attributes-charset                           [PASS]
    RFC 8011 section 4.1.4: attributes-natural-language                  [PASS]
    RFC 8011 section 4.1.4: attributes-natural-language + attributes-cha [PASS]
    RFC 8011 section 4.1.4: attributes-charset + attributes-natural-lang [PASS]
    RFC 8011 section 4.1.8: Unsupported IPP version 0.0                  [PASS]
    RFC 8011 section 4.2: No printer-uri operation attribute             [PASS]
    RFC 8011 section 4.2.1: Print-Job Operation                          [PASS]
    RFC 8011 section 4.2.3: Validate-Job Operation                       [PASS]
    RFC 8011 section 4.2.5: Get-Printer-Attributes Operation (default)   [PASS]
        color-supported (boolean) = false
        compression-supported (1setOf keyword) = deflate,gzip,none
        document-format-supported (1setOf mimeMediaType) = application/pdf,image/jpeg,image/pwg-raster
        finishings-supported (enum) = none
        ipp-versions-supported (1setOf keyword) = 1.0,1.1,2.0,2.1,2.2
        media-supported (1setOf keyword) = na_letter_8.5x11in,na_legal_8.5x14in,iso_a4_210x297mm
        number-up-supported (integer) = 1
        operations-supported (1setOf enum) = Print-Job,Print-URI,Validate-Job,Create-Job,Send-Document,Send-URI,Cancel-Job,Get-Job-Attributes,Get-Jobs,Get-Printer-Attributes,Hold-Job,Release-Job,Pause-Printer,Resume-Printer,Set-Printer-Attributes,Set-Job-Attributes,Get-Printer-Supported-Values,Create-Printer-Subscriptions,Create-Job-Subscriptions,Get-Subscription-Attributes,Get-Subscriptions,Renew-Subscription,Cancel-Subscription,Get-Notifications,Enable-Printer,Disable-Printer,Pause-Printer-After-Current-Job,Hold-New-Jobs,Release-Held-New-Jobs,Restart-Printer,Shutdown-Printer,Startup-Printer,Cancel-Current-Job,Cancel-Document,Get-Document-Attributes,Get-Documents,Set-Document-Attributes,Cancel-Jobs,Cancel-My-Jobs,Close-Job,Identify-Printer,Validate-Document,Acknowledge-Document,Acknowledge-Identify-Printer,Acknowledge-Job,Fetch-Document,Fetch-Job,Get-Output-Device-Attributes,Update-Active-Jobs,Update-Document-Status,Update-Job-Status,Update-Output-Device-Attributes,Deregister-Output-Device
        pages-per-minute (integer) = 0
        print-quality-supported (1setOf enum) = draft,normal,high
        printer-uri-supported (uri) = ipp://msweet-imac.local.:8501/ipp/print
        reference-uri-schemes-supported (1setOf uriScheme) = ftp,http,https
        uri-authentication-supported (keyword) = none
        uri-security-supported (keyword) = tls
    RFC 8011 section 4.2.5: Get-Printer-Attributes Operation (requested- [PASS]
    RFC 8011 section 4.2.6: Get-Jobs Operation (default)                 [PASS]
    RFC 8011 section 4.2.6: Get-Jobs Operation (requested-attributes)    [PASS]
    RFC 8011 section 4.2.6: Get-Jobs Operation (my-jobs)                 [PASS]
    RFC 8011 section 4.2.6: Get-Jobs Operation (my-jobs different user)  [PASS]
    RFC 8011 section 4.2.6: Get-Jobs Operation (which-jobs=not-completed [PASS]
    Get-Job-Attributes Until Job Complete                                [0001]
        job-state (enum) = processing
    Get-Job-Attributes Until Job Complete                                [PASS]
        job-state (enum) = completed
    RFC 8011 section 4.2.6: Get-Jobs Operation (which-jobs=completed)    [PASS]
    RFC 8011 section 4.2.6: Get-Jobs Operation (which-jobs, requested-at [PASS]
    RFC 8011 section 4.3.3: Cancel-Job Operation (completed job)         [PASS]
    RFC 8011 section 4.2.1: Print-Job Operation                          [PASS]
    RFC 8011 section 4.3.3: Cancel-Job Operation (pending/processing job [PASS]
    RFC 8011 section 4.3.4: Get-Job-Attributes Operation                 [PASS]
    RFC 8011 section 4.2.2: Print-URI Operation                          [FAIL]
        RECEIVED: 93 bytes in response
        status-code = successful-ok (successful-ok)
        EXPECTED: job-uri
        EXPECTED: job-id
        EXPECTED: job-state
        EXPECTED: job-state-reasons
    Print-URI with bad URI: Print-URI Operation                          [FAIL]
        RECEIVED: 93 bytes in response
        status-code = successful-ok (successful-ok)
        EXPECTED: STATUS client-error-uri-scheme-not-supported (got successful-ok)
    RFC 8011 section 4.2.4: Create-Job Operation                         [PASS]
    RFC 8011 section 4.3.1: Send-Document Operation                      [PASS]
    Send-Document missing last-document: Create-Job Operation            [PASS]
    Send-Document missing last-document: Send-Document Operation         [PASS]
    RFC 8011 section 4.3.3: Cancel-Job Operation                         [PASS]
    RFC 8011 section 4.2.4: Create-Job Operation                         [PASS]
    RFC 8011 section 4.3.2: Send-URI Operation                           [FAIL]
        RECEIVED: 0 bytes in response
        status-code = server-error-service-unavailable (Operation now in progress)
        IPP request failed with status server-error-service-unavailable (Operation now in progress)
    Send-URI with bad URI: Create-Job Operation                          [PASS]
    Send-URI with bad URI: Send-URI Operation (bad URI)                  [FAIL]
        RECEIVED: 0 bytes in response
        status-code = server-error-service-unavailable (Address already in use)
        IPP request failed with status server-error-service-unavailable (Address already in use)
    Send-URI with bad URI: Cancel-Job Operation                          [SKIP]
    RFC 8011 section 4.2.7: Pause-Printer Operation                      [PASS]
    Resume-Printer                                                       [PASS]
    RFC 8011 section 4.2.1: Print-Job Operation                          [PASS]
    RFC 8011 section 4.3.5: Hold-Job operation                           [PASS]
    Release-Job                                                          [PASS]
    RFC 8011 section 4.2.4: Create-Job Operation                         [FAIL]
        RECEIVED: 102 bytes in response
        status-code = successful-ok (successful-ok)
        EXPECTED: job-uri
        EXPECTED: job-id
        EXPECTED: job-state
        EXPECTED: job-state-reasons
    RFC 8011 section 4.3.1: Send-Document Operation                      [FAIL]
        RECEIVED: 121 bytes in response
        status-code = client-error-not-possible (Job is not in a pending state.)
        EXPECTED: STATUS successful-ok (got client-error-not-possible)
        EXPECTED: STATUS client-error-document-format-not-supported (got client-error-not-possible)
        EXPECTED: STATUS server-error-job-canceled (got client-error-not-possible)
        status-message="Job is not in a pending state."
    Print-Job with copies                                                [PASS]
    Print-Job with A4 PDF                                                [PASS]
    Print-Job with A4 PDF, Duplex                                        [SKIP]
    Print-Job with US Letter PDF                                         [PASS]
    Print-Job with US Letter PDF, Duplex                                 [SKIP]
    Print-Job with A4 PostScript                                         [SKIP]
    Print-Job with A4 PostScript, Duplex                                 [SKIP]
    Print-Job with US Letter PostScript                                  [SKIP]
    Print-Job with US Letter PostScript, Duplex                          [SKIP]
    Print-Job with Color JPEG on A4                                      [PASS]
    Print-Job with Color JPEG on US Letter                               [PASS]
    Print-Job with Color JPEG on 4x6                                     [SKIP]
    Print-Job with Grayscale JPEG on A4                                  [PASS]
    Print-Job with Grayscale JPEG on US Letter                           [PASS]
    Print-Job with Grayscale JPEG on 4x6                                 [SKIP]
    Print-Job with A4 PDF and Standard Sheet                             [SKIP]
    Print-Job with US Letter PDF and Standard Sheet                      [SKIP]
    Print-Job with A4 PDF and Standard Sheet                             [SKIP]
    Print-Job with US Letter PDF and Standard Sheet                      [SKIP]
    Print-Job with A4 PDF, 2-Up                                          [SKIP]
    Print-Job with US Letter PDF, 2-Up                                   [SKIP]
    Print-Job with A4 PDF, 2-Up                                          [SKIP]
    Print-Job with US Letter PDF, 2-Up                                   [SKIP]
    Print-Job with JPEG on 4x6, Draft Quality                            [SKIP]
    Print-Job with JPEG on 4x6, Normal Quality                           [SKIP]
    Print-Job with JPEG on 4x6, High Quality                             [SKIP]
    Print-Job with A4 PDF, Draft Quality                                 [PASS]
    Print-Job with US Letter PDF, Draft Quality                          [PASS]
    Print-Job with job-hold-until                                        [FAIL]
        RECEIVED: 102 bytes in response
        status-code = successful-ok (successful-ok)
        EXPECTED: job-uri
        EXPECTED: job-id
        EXPECTED: job-state
        EXPECTED: job-state-reasons
    Release-Job                                                          [PASS]
    Print-Job with explicit priority                                     [PASS]
    Print-Job with single-document multiple-document-handling            [SKIP]
    Print-Job with separate-documents-uncollated-copies multiple-documen [PASS]
    Print-Job with separate-documents-collated-copies multiple-document- [SKIP]
    Print-Job with ssingle-document-new-sheet multiple-document-handling [SKIP]
    Print-Job with no finishing                                          [PASS]
    Print-Job with staple                                                [SKIP]
    Print-Job with punch                                                 [SKIP]
    Print-Job with cover                                                 [SKIP]
    Print-Job with bind                                                  [SKIP]
    Print-Job with saddle-stitch                                         [SKIP]
    Print-Job with edge-stitch                                           [SKIP]
    Print-Job with staple-top-left                                       [SKIP]
    Print-Job with staple-bottom-left                                    [SKIP]
    Print-Job with staple-top-right                                      [SKIP]
    Print-Job with staple-bottom-right                                   [SKIP]
    Print-Job with edge-stitch-left                                      [SKIP]
    Print-Job with edge-stitch-top                                       [SKIP]
    Print-Job with edge-stitch-right                                     [SKIP]
    Print-Job with edge-stitch-bottom                                    [SKIP]
    Print-Job with staple-dual-left                                      [SKIP]
    Print-Job with staple-dual-top                                       [SKIP]
    Print-Job with staple-dual-right                                     [SKIP]
    Print-Job with staple-dual-bottom                                    [SKIP]
    Print-Job with two-sided-long-edge side                              [SKIP]
    Print-Job with two-sided-short-edge side                             [SKIP]
    Print-Job with portrait orientation                                  [PASS]
    Print-Job with landscape orientation                                 [PASS]
    Print-Job with portrait orientation                                  [PASS]
    Print-Job with portrait orientation                                  [PASS]
    Print-Job with 600dpi resolution                                     [SKIP]

Summary: 104 tests, 53 passed, 7 failed, 44 skipped
Score: 93%
```


[master 8a27bf2] Resolve IPP/1.1 test issues (Issue #150)
