`ippserver` fails to pass "ipp-1.1.test" (Section " RFC 2911 section 3.2.6: Get-Jobs Operation (requested-attributes)"

<sub>ATTN, the issue described below may not be representative, since it was experienced when running `ippserver` from a proof-of-concept [AppImage](https://github.com/AppImage/AppImageKit/wiki/Similar-projects#comparison) package [retrieved here](https://transfer.sh/10o3Dj/ippsample-git.97c1bbf-x86_64.AppImage) (<- link expires in about ~13 days!).</sub>

----

## TL;DR

Test for IPP-1.1: in section *"RFC 2911 section 3.2.6: Get-Jobs Operation (requested-attributes)"* it fails with these statements:

         EXPECTED: job-printer-uri WITH-VALUE /^ipps?://.+$/
         GOT: job-printer-uri="http://lenjessie2.fritz.box:8888/ipp/print"

(More details to follow in separate comment).

----



Started up *`ippserver`* with this command, meaning it uses almost its most basic settings:

     ./ippserver -vv \
                 -p 8888 \
                 -M "AppImage Testing Labs NoInc." \
                 -l "TestCloud" \
                    "IPP Default from AppImage"

Startup is instant, with this output (parts only quoted):

<pre>
Using default configuration with a single printer.
Using default data directory "/tmp/ippserver.2697".
Using default spool directory "/tmp/ippserver.2697".
Ignore Avahi state 2.
Using default listeners for lenjessie2.fritz.box:8888.
serverCreatePrinter(resource="/ipp/print", name="IPP Default from AppImage", location="TestCloud", make="AppImage Testing Labs NoInc.", model="Printer", icon="(null)", docformats="application/pdf,image/jpeg,image/pwg-raster", ppm=0, ppm_color=0, duplex=0, pin=0, attrs=(nil), command="(null)", device_uri="(null)", proxy_user="(null)", strings=(nil))
Using ppm=0
Using ppm_color=0
[Printer IPP Default from AppImage] printer-more-info="https://lenjessie2.fritz.box:8888/ipp/print"
[Printer IPP Default from AppImage] printer-supply-info-uri="https://lenjessie2.fritz.box:8888/ipp/print/supplies"
[Printer IPP Default from AppImage] printer-uri="ipp://lenjessie2.fritz.box:8888/ipp/print"
[Printer IPP Default from AppImage] version=2.0
[....]
[Printer IPP Default from AppImage] document-format-supported (1setOf mimeMediaType) application/pdf,image/jpeg,image/pwg-raster
[....]
[Printer IPP Default from AppImage] uri-security-supported (keyword) tls
[Printer IPP Default from AppImage] which-jobs-supported (1setOf keyword) completed,not-completed,aborted,all,canceled,pending,pending-held,processing,processing-stopped
serverRun: 1 printers configured.
serverRun: 2 listeners configured.
</pre>

<sub>Side remark: BTW, I was wondering about the *`Using ppm{,_color}=0`* messages. Since *`ippserver -h`* says *`-s speed[,color-speed]  Speed in pages per minute (default=10,0)`* -- shouldn't it report *`Using ppm=10`* and *`Using ppm_color=0`*??</sub>

Looking at the data directory it pointed to is proof that it indeed can write stuff there:

<pre>
kp@lenjessie2:~> ls -l "/tmp/ippserver.2697"
  drwxr-xr-x 2 kp kp 4096 Nov  7 11:26 IPP Default from AppImage
</pre>

I ran a series of *`ipptool -tvv [...] ipp-\*.test`* commands against this printer/ippserver process and found out they were all failing when it came to test *"RFC 2911 section 3.2.6: Get-Jobs Operation (requested-attributes)"*:

<pre>
kp@lenjessie2:bin > ./ipptool -f testfile.pdf  -V 1.1 -t  http://lenjessie2.fritz.box:8888/ipp/print  ipp-1.1.test
"/tmp/.mount_ipptoo388aPn/usr/share/cups/ipptool/ipp-1.1.test":
    RFC 2911 section 3.1.1: Bad request-id value 0                       [PASS]
    RFC 2911 section 3.1.4: No Operation Attributes                      [PASS]
    RFC 2911 section 3.1.4: attributes-charset                           [PASS]
    RFC 2911 section 3.1.4: attributes-natural-language                  [PASS]
    RFC 2911 section 3.1.4: attributes-natural-language + attributes-cha [PASS]
    RFC 2911 section 3.1.4: attributes-charset + attributes-natural-lang [PASS]
    RFC 2911 section 3.1.8: Unsupported IPP version 0.0                  [PASS]
    RFC 2911 section 3.2: No printer-uri operation attribute             [PASS]
    RFC 2911 section 3.2.1: Print-Job Operation                          [PASS]
    RFC 2911 section 3.2.3: Validate-Job Operation                       [PASS]
    RFC 2911 section 3.2.5: Get-Printer-Attributes Operation (default)   [PASS]
        color-supported (boolean) = false
        compression-supported (1setOf keyword) = deflate,gzip,none
        document-format-supported (1setOf mimeMediaType) = application/pdf,image/jpeg,image/pwg-raster
        finishings-supported (enum) = none
        ipp-versions-supported (1setOf keyword) = 1.0,1.1,2.0
        job-sheets-supported (nameWithoutLanguage) = none
        media-supported (1setOf keyword) = na_letter_8.5x11in,na_legal_8.5x14in,iso_a4_210x297mm
        number-up-supported (integer) = 1
        operations-supported (1setOf enum) = Print-Job,Print-URI,Validate-Job,Create-Job,Send-Document,Send-URI,Cancel-Job,Get-Job-Attributes,Get-Jobs,Get-Printer-Attributes,Get-Printer-Supported-Values,Create-Printer-Subscriptions,Create-Job-Subscriptions,Get-Subscription-Attributes,Get-Subscriptions,Renew-Subscription,Cancel-Subscription,Get-Notifications,Get-Document-Attributes,Get-Documents,Cancel-My-Jobs,Close-Job,Identify-Printer,Validate-Document,Acknowledge-Document,Acknowledge-Identify-Printer,Acknowledge-Job,Fetch-Document,Fetch-Job,Get-Output-Device-Attributes,Update-Active-Jobs,Update-Document-Status,Update-Job-Status,Update-Output-Device-Attributes,Deregister-Output-Device
        pages-per-minute (integer) = 0
        print-quality-supported (1setOf enum) = draft,normal,high
        printer-uri-supported (uri) = ipp://lenjessie2.fritz.box:8888/ipp/print
        reference-uri-schemes-supported (1setOf uriScheme) = file,ftp,http,https
        uri-authentication-supported (keyword) = none
        uri-security-supported (keyword) = tls
    RFC 2911 section 3.2.5: Get-Printer-Attributes Operation (requested- [PASS]
    RFC 2911 section 3.2.6: Get-Jobs Operation (default)                 [PASS]
    RFC 2911 section 3.2.6: Get-Jobs Operation (requested-attributes)    [FAIL]
        RECEIVED: 871 bytes in response
        status-code = successful-ok (successful-ok)
        EXPECTED: job-printer-uri WITH-VALUE /^ipps?://.+$/
        GOT: job-printer-uri="http://lenjessie2.fritz.box:8888/ipp/print"

Summary: 14 tests, 13 passed, 1 failed, 0 skipped
Score: 92%
</pre>

To get more info, I added *`-v`* to above command, which yielded as output:

<pre>
        [....]
    RFC 2911 section 3.2.6: Get-Jobs Operation (requested-attributes)    [FAIL]
        RECEIVED: 871 bytes in response
        status-code = successful-ok (successful-ok)
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        job-name (nameWithoutLanguage) = /tmp/.mount_ipptooCL4L90/usr/share/cups/ipptool/testfile.pdf
        compression-supplied (keyword) = none
        document-format-supplied (mimeMediaType) = application/pdf
        document-name-supplied (nameWithoutLanguage) = /tmp/.mount_ipptooCL4L90/usr/share/cups/ipptool/testfile.pdf
        job-originating-user-name (nameWithoutLanguage) = kp
        date-time-at-creation (dateTime) = 2017-11-07T10:56:43Z
        job-id (integer) = 4
        job-uri (uri) = ipps://lenjessie2.fritz.box:8888/ipp/print/4
        job-uuid (uri) = urn:uuid:2cc8f245-2490-3dff-6f83-6287fce2fcb5
        job-printer-uri (uri) = http://lenjessie2.fritz.box:8888/ipp/print
        time-at-creation (integer) = 1820
        date-time-at-completed (no-value) = no-value
        date-time-at-processing (dateTime) = 2017-11-07T10:56:43Z
        job-impressions (integer) = 0
        job-impressions-completed (integer) = 0
        job-printer-up-time (integer) = 1820
        job-state (enum) = processing
        job-state-message (textWithoutLanguage) = Job printing.
        job-state-reasons (keyword) = none
        time-at-completed (no-value) = no-value
        time-at-processing (integer) = 1820
        EXPECTED: job-printer-uri WITH-VALUE /^ipps?://.+$/
        GOT: job-printer-uri="http://lenjessie2.fritz.box:8888/ipp/print"

Summary: 14 tests, 13 passed, 1 failed, 0 skipped
Score: 92%
</pre>

So, it seems to really boil down to the following two lines:

<pre>
        EXPECTED: job-printer-uri WITH-VALUE /^ipps?://.+$/
        GOT: job-printer-uri="http://lenjessie2.fritz.box:8888/ipp/print"
</pre>

- ***Does that mean the testfile `ipp-1.1.test` is not perfectly tuned to the potential variations of `job-printer-uri` values which a compliant IPP endpoint may report?***
- ***Or does it mean that *`ippserver`* itself has a fault here, reporting its `job-printer-uri` in the wrong way?***

At least, if I replace the respective lines ([l434](https://github.com/istopwg/ippsample/blob/master/examples/ipp-1.1.test#L434), [l756](https://github.com/istopwg/ippsample/blob/master/examples/ipp-1.1.test#L756), [l884](https://github.com/istopwg/ippsample/blob/master/examples/ipp-1.1.test#L884)) in *ipp-1.1.test*:

<pre>
       [....]
       EXPECT ?job-printer-uri OF-TYPE uri IN-GROUP job-attributes-tag COUNT 1 WITH-VALUE "$IPP_URI_SCHEME"
       [....]
       EXPECT job-printer-uri OF-TYPE uri IN-GROUP job-attributes-tag COUNT 1 WITH-VALUE "$IPP_URI_SCHEME"
       [....]
       EXPECT job-printer-uri OF-TYPE uri IN-GROUP job-attributes-tag COUNT 1 WITH-VALUE "$IPP_URI_SCHEME"
</pre>

by the following

<pre>
       [....]
        EXPECT ?job-printer-uri OF-TYPE uri IN-GROUP job-attributes-tag COUNT 1 WITH-VALUE "$HTTP_URI_SCHEME"
       [....]
        EXPECT job-printer-uri OF-TYPE uri IN-GROUP job-attributes-tag COUNT 1 WITH-VALUE "$HTTP_URI_SCHEME"
       [....]
        EXPECT job-printer-uri OF-TYPE uri IN-GROUP job-attributes-tag COUNT 1 WITH-VALUE "$HTTP_URI_SCHEME"
</pre>

...it works: with these modifications to the *ipp-1.1.test* file the IPP-1.1 tests complete without fail. 

<sub>(There are still 28 skipped tests, though:</sub>
<pre>
    RFC 2911 section 3.2.2: Print-URI Operation                          [SKIP]
    Print-URI with bad URI: Print-URI Operation                          [SKIP]
    RFC 2911 section 3.2.4: Create-Job Operation                         [SKIP]
    RFC 2911 section 3.3.2: Send-URI Operation                           [SKIP]
    Send-URI with bad URI: Send-URI Operation (bad URI)                  [SKIP]
    Print-Job with A4 PDF, Duplex                                        [SKIP]
    Print-Job with US Letter PDF, Duplex                                 [SKIP]
    Print-Job with A4 PostScript                                         [SKIP]
    Print-Job with A4 PostScript, Duplex                                 [SKIP]
    Print-Job with US Letter PostScript                                  [SKIP]
    Print-Job with US Letter PostScript, Duplex                          [SKIP]
    Print-Job with Color JPEG on 4x6                                     [SKIP]
    Print-Job with Grayscale JPEG on 4x6                                 [SKIP]
    Print-Job with A4 PDF and Standard Sheet                             [SKIP]
    Print-Job with US Letter PDF and Standard Sheet                      [SKIP]
    Print-Job with A4 PDF and Standard Sheet                             [SKIP]
    Print-Job with US Letter PDF and Standard Sheet                      [SKIP]
    Print-Job with A4 PDF, 2-Up                                          [SKIP]
    Print-Job with US Letter PDF, 2-Up                                   [SKIP]
    Print-Job with A4 PDF, 2-Up                                          [SKIP]
    Print-Job with US Letter PDF, 2-Up                                   [SKIP]
    Print-Job with JPEG on 4x6, Draft Quality                            [SKIP]
    Print-Job with JPEG on 4x6, Normal Quality                           [SKIP]
    Print-Job with JPEG on 4x6, High Quality                             [SKIP]
    Print-Job with A4 PDF, Draft Quality                                 [SKIP]
    Print-Job with US Letter PDF, Draft Quality                          [SKIP]
    Print-Job with job-hold-until                                        [SKIP]
    Release-Job                                                          [SKIP]
</pre>
<sub>some of which I'll try to get to run and see results from next... I guess I've to create my own, more complex *attributes* file to pass to the *`ippserver`*-command with the *`-a attributes-file`* option. The easiest way to extend the tests should be to run *`ippserver`* with *`-2`* to get the various *Duplex*-printtests accepted to be run instead of being SKIPped.)</sub>



The reason this failed was because you used "http:" for the printer URI.
