Fix IPP request validation in ippserver: target attribute(s) need to follow attributes-charset/natural-language

[Section 4.1.5 of RFC 8011](https://tools.ietf.org/html/rfc8011#section-4.1.5) requires that the target attribute of a request appears as the 3rd attribute in the request after attributes-charset and attributes-natural-language.

Currently ippserver enforces the order of the first two attributes but not of the target attribute (which can appear anywhere), which could lead to incorrect client requests being allowed. We should update ippserver to enforce the ordering and perhaps offer a --relaxed mode that just warns when things are not in the correct order.


[master b364ab4] Fix conformance testing of initial attributes (Issue #95)

Includes the mentioned "--relaxed" option.